<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submitted Info</title>
</head>
<body>
    <h1> <u> Submitted Info</u> </h1>

<h3>Info Submitted:</h3>
    <p>Name: {{ jinja_name }}</p>
    <p>Dojo Location: {{ jinja_loc }}</p>
    <p>Favorite Language: {{ jinja_lang }}</p>
    <p>Comment: {{ route_comment }}</p>
    <p>Does {{ jinja_name }} like ice cream?: {{ jinja_ice }}</p>


    <a href="http://127.0.0.1:5000/">Go Back</a>
</body>
</html>