*{
    /* border: 1px black solid; */
    font-family: sans-serif;
}
#container {
    height: 800px;
    width: 1300px;
    display: inline-block;
}
#register {
    height: 700px;
    width: 320px;
    display: inline-block;
    margin-left: 100px;
}
#logindiv {
    height: 700px;
    width: 350px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}
p {
    display: inline-block;
}
.btncenter {
    text-align: center;
}

h1 {
    text-align: center;
}
#successlink {
    display: inline-block;
    margin-left: 500px;
}
#successpage {
    display: inline-block;
}
#successh1 {
    display: inline-block;
}
#green {
    color: green;
}

#successh2 {
    display: inline-block;
}
#successlink {
    display: inline-block;
    margin-left: 100px;
}
#wallspan{
    display: inline-block;
    margin-left: 800px;
    text-align: right;
}
#successlink2 {
    display: inline-block;
    margin-left: 100px;
    text-align: right;
}
#successwall {
    border: 2px black solid;
}
#msgandcomm {
    margin-left: 25px;
    width: 500px;
}
#postmessage {
    margin-left: 690px;
    background-color: blue;
    color: white;
}
#postcomment {
    margin-left: 690px;
    background-color: green;
    color: white;
}
#commenttxt {
    margin-left: 70px;
}
.posterinfo {
    font-size: 10pt;
}
.commentsclass {
    padding-left: 20px;
}
.messagesclass {
    padding-left: 20px;
}