<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
    <!-- <meta http-equiv="refresh" content="3"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" href="{% static 'rwgApp/css/style.css' %}">
</head>

<body>
    <div id="container">
        {% if dj_rndwrd == 1 %}
        <p>reset</p>
        {% endif %}
        <span id="header">Random Word (attempt #{{dj_counter}})</span>
        <br>
        <h1 id="rndword">{{dj_rndwrd}}</h1>
        <form action="/generate" method="POST">
            {% csrf_token %}
            <input id="generate" type="submit" value="Generate!">
        </form>
        <form action="/reset"  method="POST">
            {% csrf_token %}
            <input id="reset" type="submit" value="Reset!">
        </form>
    </div>
</body>

</html>