<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" href="{% static 'LoginAndRegAPP/css/style.css' %}">
</head>
<!-- remember csrf_token!!! -->

<body>
    <div id="container">
        <div id="register">
            <h1>Registration</h1>
            {% if messages %}
            <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
            <form action="/registration_process" method="POST">
                <div class="regandlog">
                    {% csrf_token %}
                    <p class="labels">First Name</p>
                    <input type="text" name="ht_fname"> <br>
                    <p class="labels">Last Name</p>
                    <input type="text" name="ht_lname"><br>
                    <p class="labels">Birthday</p>
                    <input type="date" name="ht_bday" id="datebox"><br>
                    <p class="labels">Email</p>
                    <input type="text" name="ht_email"><br>
                    <p class="labels">Password</p>
                    <input type="password" name="ht_password"><br>
                    <p class="labels">Confirm PW</p>
                    <input type="password" name="ht_confpassword"><br>
                </div>
                <div class="btncenter">
                    <input id="registerbtn" type="submit" value="Register">
                </div>
            </form>
        </div>
        <div id="logindiv">
            <h1>Login</h1>
            <!-- {% if messages %}
            <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %} -->
            <form action="/login_process" method="POST">
                {% csrf_token %}
                <p class="labels">Email</p>
                <input type="text" name="ht_email"><br>
                <p class="labels">Password</p>
                <input type="password" name="ht_password"><br>
                <div class="btncenter">
                    <input id="loginbtn" type="submit" value="Log In">
                </div>
            </form>
        </div>
    </div>
</body>

</html>