<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" href="{% static 'LoginAndRegAPP/css/style.css' %}">
</head>
<!-- remember csrf_token!!! -->

<body>
    <div id="successpage">
        <h2 id="successh1">Success! Welcome, {{pt_fname}} </h1>
        <span id="successspace"></span>
        <a href="/clear_process" id="successlink">Log Out</a>
    </div><br>
    <p id="green">Successfully registered (or logged in)!</p>
</body>