<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>

<body>
    <h2 id="header">Checkerboard!</h2>
    <div id="parent">
        {% for r in range(row): %}
        <div class="row">
            {% for c in range(col): %}
            {% if (r + c) % 2 == 0 %}
            <div class="box" style="background-color:{{ mycolor1 }}"></div>
            {% else %}
            <div class="box" style="background-color:{{ mycolor2 }}"></div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>

</html>