<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Details</title>
    <!-- <meta http-equiv="refresh" content="3"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" href="{% static 'SemiRestfulTvShowsAPP/css/style.css' %}">
</head>
<!-- remember csrf_token!!! -->

<body>
    <div id="container">
        
        <h1>TV Show {{dj_showid.id}}</h1>
        <p>Title: {{dj_showid.title}}</p>
        <p>Network: {{dj_showid.network}}</p>
        <p>Release Date: {{dj_showid.release_date}}</p>
        <p>Description: {{dj_showid.desc}}</p>
        <p>Last updated: {{dj_showid.updated_at}}</p>
        <a href="/shows/{{dj_showid.id}}/edit">Edit</a> |
        <a href="/shows/{{dj_showid.id}}/destroy">Delete</a>
    </div>
</body>

</html>